.home {
  min-height: 110vh;
  position: relative;
  color: #ffff;
  font-size: 2rem;
  transition: all 5s;
  margin-top: -25vh;
  padding-top: 25vh;
  background-size: cover;
  overflow: hidden;
  z-index: -500;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      animation: animateImage 20s linear infinite;
    }
  }
}

@keyframes animateImage {
  0% {
    opacity: 0.8;
    transform: scale(2);
  }
  10% {
    opacity: 0.8;
    transform: scale(1.9);
  }
  20% {
    opacity: 0.8;
    transform: scale(1.8);
  }
  30% {
    opacity: 0.8;
    transform: scale(1.7);
  }
  40% {
    opacity: 0.8;
    transform: scale(1.6);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.4);
  }
  70% {
    opacity: 1;
    transform: scale(1.3);
  }
  80% {
    opacity: 1;
    transform: scale(1.2);
  }
  90% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
